 @import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Faster+One&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --red: #9c0101;
    --dark_red: #650303;
    --light_red: #de5252;
    --pale_red:  #ecdcdc;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kanit', 'sans-serif';
    font-weight: 300;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f2f2f2;
}

.login-container {
    width: 300px;
    padding: 20px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    text-align: center;
}

.login-container > h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.input-container {
    position: relative;
    margin: 20px 0;
}

.input-container input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.input-container label {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 16px;
    color: #aaa;
    transition: 0.3s;
    pointer-events: none;
}

.input-container input:focus + label,
.input-container input:not(:placeholder-shown) + label {
    top: -8px;
    left: 8px;
    font-size: 12px;
    color: var(--red);
    background-color: #ffffff;
    padding: 0 4px;
}

.remember-me {
    display: flex;
    align-items: center;
    margin: 10px 0;
    justify-content: space-between;
    font-size: 14px;
    color: #333;
}

.remember-me input {
    width: auto;
    margin-right: 5px;
}

button.primary {
    width: 100%;
    padding: 0.75rem;
    border: none;
    background-color: var(--red);
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 1rem;
}

button.primary:hover {
    background-color: var(--dark_red);
}

button.secondary {
    width: 100%;
    padding: 0.65rem;
    margin-top: 0.5rem;
    background-color: white;
    color: var(--red);
    border: 0.1rem solid var(--red);
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    box-sizing: border-box;
}

button.secondary:hover {
    background-color: var(--pale_red);
}

.forgot-password {
    display: block;
    margin-top: 15px;
    font-size: 14px;
    color: var(--red);
    text-decoration: none;
}

.forgot-password:hover {
    color: var(--dark_red);
}

